.container {
  margin: 0 auto;
  width: 80%;
}

nav,
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
}

nav > a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  nav {
    flex-direction: row;
  }
  .project-container,
  .presentation-container {
    display: flex;
  }

  .project-container .project-list,
  .presentation-container .presentation-list {
    width: 20%;
  }
  .project-container .project,
  .presentation-container .presentation {
    flex: 1;
  }
}
